<nav class="navbar navbar-expand-lg navbar-light bg-navy">
    <div class="container-fluid">
        <!-- <a class="navbar-brand name"  routerLink="/home">ANAND CONSTRUCTION</a> -->
         <img  class="navbar-brand "style="width: 300px; margin-right: 20px;"  routerLink="/Home" src="image.jpeg" alt="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 5rem;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item trn" >
                    <a class="nav-link active" aria-current="page" routerLink="/Home"  routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item  trn">
                    <a class="nav-link  active" routerLink="/project"  routerLinkActive="active">Our Projects</a>
                </li>
                <!-- <li class="nav-item  trn">
                    <a class="nav-link  active" routerLink="/sdsdsdsdsdsd" routerLinkActive="active">Services</a>
                </li> -->
                <li class="nav-item  trn">
                    <a class="nav-link  active" routerLink="/imagegallary" routerLinkActive="active">Gallery</a>
                </li>
                <li class="nav-item  trn">
                    <a class="nav-link  active" routerLink="dmessage" routerLinkActive="active">The Directors</a>
                </li>
                <li class="nav-item dropdown  trn">
                    <a class="nav-link dropdown-toggle active dropdown"  id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-content" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" style="color: white;font-weight: bold;" routerLink="aboutus" routerLinkActive="active">About Us / Why US</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" style="color: white;font-weight: bold;" routerLink="aim" routerLinkActive="active">Aim</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" style="color: white;font-weight: bold;" routerLink="mission" routerLinkActive="active">Vission / Mission</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" style="color: white;font-weight: bold;" routerLink="safety" routerLinkActive="active">Safety</a>
                        </li>
 
                    </ul>
                </li>
                <li class="nav-item  trn">
                    <a class="nav-link  active" routerLink="contact" routerLinkActive="active">Contact</a>
                </li>
                <!-- <li class="nav-item  trn">
                    <a class="nav-link  active" href="#">Career</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
