<div class="gallery-container">
    @for ( image of paginatedImages; track $index) {
        <div class="card" style="width: 18rem;">
            <img [src]="image" alt="Gallery Image" class="gallery-image card-img-top" width="300px" height="auto">
            <div class="card-body">
            </div>
          </div>
    }
  </div>
  <!-- Pagination Controls -->
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    @for (page of getPageNumbers(); track $index) {
        <span >
            <button
              (click)="goToPage(page)"
              [class.active]="page === currentPage"
            >
              {{ page }}
            </button>
          </span>
    }
    
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
