
<div class="text-center " style=" background: linear-gradient(45deg, black, transparent);">
    <br><br>
    <div class="container">
        <div>
            <h1 style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bold; font-size: 2rem;">Get in
                touch</h1>
            <p style="font-family:cursive;">Want to get in touch ? We'd love to here from you . Here's how you can reach
                us. </p>
        </div>
        <!-- <div class="container text-center">
            <div class="mb-1 row">
                <label for="staticEmail" class="col-sm-1 col-form-label">
                    <img src="house-door.svg" alt="Bootstrap" width="20" height="32">
                </label>
                <div class="col">
                    <textarea readonly class="form-control-plaintext" id="staticEmail" rows="2">Plot No.101, Road No. 02, Kakatiya Hills,
Madhapur, Telangana, Hyderabad. 500033</textarea>
                </div>
            </div>
            <div class="mb-1 row">
                <label for="staticEmail" class="col-sm-1 col-form-label">
                    <img src="telephone-inbound-fill.svg" alt="Bootstrap" width="20" height="32">
                </label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                        value="+91- 9835003644 & +91- 822904339">
                </div>
            </div>

            <div class="mb-1 row">
                <label for="staticEmail" class="col-sm-1 col-form-label">
                    <img src="envelope-at-fill.svg" alt="Bootstrap" width="20" height="32">
                </label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="xyz@gmail.com">
                </div>
            </div>
        </div> -->
        <div class="d-flex justify-content-center">
            <div class="card mb-3 " style="max-width: 600px; background:gainsboro;">
                <div class="row g-0">

                    <h5 class="card-title"></h5>
                    <p class="card-text txtcl"> <img style="margin-right: 1rem;" src="house-door-fill.svg" alt="Bootstrap"
                            width="20" height="32"> Plot No.101, Road No. 02, Kakatiya HillsMadhapur, Telangana,
                        Hyderabad. 500033</p>
                    <p class="card-text txtcl"> <img style="margin-right: 1rem;" src="telephone-inbound-fill.svg"
                            alt="Bootstrap" width="20" height="32"> +91 - 9835003644 , +91 - 8229042309</p>
                    <p class="card-text txtcl"> <img style="margin-right: 1rem;" src="envelope-at-fill.svg" alt="Bootstrap"
                            width="20" height="32"> xyz&#64;gmail.com</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>