<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <!-- <section class="mb-4">
       
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
       
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
  
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
       
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
     
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section> -->
     
  
      <!-- Section: Form -->
      <section class="">
        <form [formGroup]="subform">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">&#64;</span>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  aria-label="Email"
                  aria-describedby="basic-addon1"
                  formControlName="email"
                />
              </div>
            </div>
            
            <!-- Submit button -->
            <div class="col-auto">
              <button
                mdbRipple
                type="submit"
                (click)="sub()"
                [disabled]="subform.invalid"
                class="btn btn-outline-light mb-4"
              >
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <!-- <section class="mb-4">
       <h4 style="text-align: center;color: rgba(212, 255, 0, 0.673);">QUICK ACCESS</h4>
      </section> -->
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!-- <h5 class="text-uppercase">Links</h5> -->
  
            <ul class="list-unstyled mb-0">
              <li>
                <!-- <a href="#!" class="text-white">Link 1</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 2</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 3</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 4</a> -->
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!-- <h5 class="text-uppercase">Links</h5> -->
  
            <ul class="list-unstyled mb-0">
              <li>
                <!-- <a href="#!" class="text-white">Link 1</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 2</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 3</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 4</a> -->
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!-- <h5 class="text-uppercase">Links</h5> -->
  
            <ul class="list-unstyled mb-0">
              <li>
                <!-- <a href="#!" class="text-white">Link 1</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 2</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 3</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 4</a> -->
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!-- <h5 class="text-uppercase">Links</h5> -->
  
            <ul class="list-unstyled mb-0">
              <li>
                <!-- <a href="#!" class="text-white">Link 1</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 2</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 3</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-white">Link 4</a> -->
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 Copyright:
      <a class="text-white" style="text-decoration: none;" href="">Anand Construction</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
