<div class="start col-md-12 ">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="canner.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="image.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="petrolium.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="stas.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="tank.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="worksta.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="canner.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="image.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="petrolium.jpeg" alt="">
            </div>
            <!-- same form here  -->
            <div class="slide">
                <img src="stas.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="tank.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="worksta.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="canner.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="image.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="petrolium.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="stas.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="tank.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="worksta.jpeg" alt="">
            </div>
        </div>
    </div>
</div>