<div style="background-color: gray;">
    <h1 style="text-align: center; padding-top: 2rem;">OUR CLIENTS</h1>
    <div style="text-align: center;">
        <a href="https://iocl.com/">
            <img src="iocl.png" alt="Client Logo" class="client-img">
        </a>
        <a href="https://www.bharatpetroleum.in/">
            <img src="bpcl.png" alt="Client Logo" class="client-img">
        </a>
        <a href="https://www.hindustanpetroleum.com/">
            <img src="hpcl.png" alt="Client Logo" class="client-img">
        </a>
        <a href="https://iocl.com/">
            <img src="iocl.png" alt="Client Logo" class="client-img">
        </a>
        <a href="https://www.hindustanpetroleum.com/">
            <img src="hpcl.png" alt="" alt="Client Logo"  class="client-img">
        </a>
    </div>
</div>